name: Build DS-AI Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      continue-on-error: true

    - name: Build with Gradle
      run: ./gradlew assembleRelease || (wget https://raw.githubusercontent.com/Dhans62/DS-AI-Plugin/main/gradlew && chmod +x gradlew && ./gradlew assembleRelease)

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ds-ai-plugin
        path: app/build/outputs/aar/*.aar

